.outwrapper {
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-panel {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 100px;
}
.logo-img {
  position: relative;
  top: -50px;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
