.outwrapper {
  height:100%;
  width:100%;
}
.register-form {
  margin-top: 10%;
  margin-left: 30%;
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.register-btn {
  margin-right: 10px;
}
